{% extends 'base.html.twig' %}

{% block title 'Hello HelloController!' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hello') }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
{#    {% dump %}#}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/benjamin/Dev/sl/formations/training-cal/src/Controller/HelloController.php</code></li>
        <li>Your template at <code>/home/benjamin/Dev/sl/formations/training-cal/templates/hello/index.html.twig</code></li>
{#        {% for letter in 'a'..'z' %}#}
{#            <li>{{ loop.index }} : {{ letter }}</li>#}
{#        {% endfor %}#}
    </ul>
    <img src="{{ asset('build/images/31116_JssY.jpeg') }}" alt="Blague">
</div>
{% endblock %}
